body {
  background: #f5f5f5;
}

.container-custom {
  width: 80%;
}

.nav-custom {
  background-color: #3b6fae;
}

.product-container {
  background: #fff;
  padding: 18px;
}

.product-container h3 small a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none !important;
}

.Custom-jumbotron {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1514' height='216' preserveAspectRatio='none' viewBox='0 0 1514 216'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1610%26quot%3b)' fill='none'%3e%3crect width='1514' height='216' x='0' y='0' fill='rgba(2%2c 158%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c374.756C88.389%2c372.303%2c177.781%2c438.367%2c258.447%2c402.152C340.319%2c365.396%2c387.155%2c274.674%2c413.805%2c188.978C438.761%2c108.731%2c411.364%2c25.731%2c401.46%2c-57.721C391.272%2c-143.567%2c414.514%2c-244.919%2c354.884%2c-307.509C295.223%2c-370.132%2c193.175%2c-354.11%2c107.536%2c-366.235C34.351%2c-376.597%2c-40.62%2c-399.822%2c-109.603%2c-373.274C-176.585%2c-347.496%2c-208.264%2c-275.102%2c-259.6%2c-224.945C-316.79%2c-169.068%2c-417.697%2c-140.832%2c-428.584%2c-61.621C-439.483%2c17.678%2c-335.47%2c65.685%2c-309.974%2c141.56C-279.803%2c231.346%2c-343.526%2c359.815%2c-267.834%2c416.759C-194.126%2c472.21%2c-92.201%2c377.315%2c0%2c374.756' fill='%23016799'%3e%3c/path%3e%3cpath d='M1514 586.086C1580.959 571.165 1616.878 501.72 1668.828 456.91700000000003 1712.346 419.38599999999997 1769.708 395.942 1794.556 344.126 1819.588 291.926 1805.021 232.138 1804.376 174.25 1803.624 106.79 1832.4470000000001 29.25200000000001 1790.459-23.552999999999997 1748.579-76.22199999999998 1666.154-63.38099999999997 1601.263-81.19 1537.773-98.61399999999998 1478.871-132.601 1413.266-127.07 1339.079-120.81599999999997 1246.696-112.43799999999999 1209.171-48.136000000000024 1170.44 18.232 1240.257 99.337 1236.354 176.08100000000002 1232.988 242.262 1175.385 299.779 1188.171 364.801 1201.945 434.848 1248.359 497.344 1307.415 537.452 1367.149 578.02 1443.522 601.7909999999999 1514 586.086' fill='%2343c0fd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1610'%3e%3crect width='1514' height='216' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  padding: 20px;
  background-repeat: round;
}
.container-footer {
  background-color: #3b6fae;
}

.container-footer li .nav-link {
  color: #fff;
}

.card-title a {
  text-decoration: none;
}
.card-custom {
  background-color: darkkhaki;
}
.imagen {
  background-color: #fff;
  padding: 18px;
}

.imagen img {
  width: 130px;
}

.imagen a {
  text-decoration: none;
  color: #999999;
  font-weight: 500;
}
